<%- include("includes/head")%>
<div class="content-prin">
    <div class="top-container">
        <h1>Seu portal de notícias</h1>
    </div>

    <div class="container">
        <div class="blog-post"></div>
    </div>

    <%for(let i = 0; i < 10000; i++){%>
        <img src="https://img.freepik.com/fotos-gratis/close-de-um-gatinho-ruivo-com-olhos-verdes-em-um-fundo-branco_181624-29784.jpg?w=2000" alt="">
    <%}%>

</div>

<%- include("includes/footer")%>
