<%- include("includes/head")%>

<div id="content-prin">
    <%for(let i = 0;i < 100; i++){%>
        <img src="https://images7.alphacoders.com/737/737400.jpg" alt="">
        <img src="https://images7.alphacoders.com/611/611138.png" alt="">
        <img src="https://images4.alphacoders.com/665/665374.jpg" alt="">
    <%}%>
</div>

<%- include("includes/footer")%>
